### Приложение В. Оценка распределения DAU по MediaScope

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
semrush = pd.read_csv('./semrush_data.csv')
semrush.head(12)

      Country    MAU    DAU
0      Russia  109.1  70.73
1     Ukraine    7.9   5.12
2     Belarus    7.0   4.54
3  Kazakhstan    7.0   4.54
4      Turkey    4.9   3.18
5         USA    1.1   0.71
6     Germany    0.7   0.45
7      France    0.4   0.26
8          UK    0.3   0.19
9       Other    9.9   6.42

По данным платформы Semrush, мировая месячная аудитория сайта составила более **148,3** миллионов пользователей

По данным MediaScope, в январе 2022 года месячная аудитория в России составила **79,1** миллионов человек

Рассчитаем коэффициент преобразования:

In [18]:
coefficient = 79.1 / 109.1 
print(coefficient)

0.7250229147571036

Расчитаем MAU и DAU:

In [19]:
semrush['approximate_MAU'] = semrush.apply(lambda x: (x['MAU'] * coefficient),axis=1)
semrush['approximate_DAU'] = semrush.apply(lambda x: (x['DAU'] * coefficient),axis=1)
semrush.head(12)

      Country    MAU    DAU  approximate_MAU  approximate_DAU
0      Russia  109.1  70.73        79.100000        51.280871
1     Ukraine    7.9   5.12         5.727681         3.712117
2     Belarus    7.0   4.54         5.075160         3.291604
3  Kazakhstan    7.0   4.54         5.075160         3.291604
4      Turkey    4.9   3.18         3.552612         2.305573
5         USA    1.1   0.71         0.797525         0.514766
6     Germany    0.7   0.45         0.507516         0.326260
7      France    0.4   0.26         0.290009         0.188506
8          UK    0.3   0.19         0.217507         0.137754
9       Other    9.9   6.42         7.177727         4.654647

In [21]:
print("Оценка DAU: {} млн человек".format(semrush['approximate_DAU'].sum()))
print("Оценка MAU: {} млн человек".format(semrush['approximate_MAU'].sum()))

Оценка DAU: 69.70370302474794 млн человек
Оценка MAU: 107.52089825847845 млн человек